body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0; /* trying to get the box to fill the screen */
}

.first-container{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    width:100%;
}
.first-container-left, .first-container-right{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom: 80px;
    width: 600px;
    border-color: white;
    border-style: solid;
}

.first-container-left{
margin-left: 100px;
} 
.first-container-right{
    margin-right: 100px;
}

.placeholder{
    align-self:center;
    background-color: gray;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    padding:100px;
}

ul{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
    margin:0;
    padding:0;
    gap: 25px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.logo{
    color: #f9faf9;
}
.hero-text{
    color: #f9faf9;
    font-size:48px;
    font-weight:bolder;
}

.subtext{
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom: 12px;
}

button{
    background-color: #3882F6;
    color:white;
    font-weight:bold;
    border-radius: 8px;
    border-style: none;
    padding: 8px 24px;
}