body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0;
}

.first-container{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color:white;
    margin:0; 
    width: 100%;
}

.header, .first-content-container{
    display:flex;
    justify-content: space-between;
    margin-right:425px;
    margin-left:425px;
    margin-top:20px;
    margin-bottom:80px;
    width:100%;
}

.logo{
    font-size: 24px;
    font-weight:bolder; /* or should it just be bold? */
    color: #F9FAF8;
}

.box-with-text{
    width: 400px;
}

.placeholder{
    background-color: gray;
    padding:100px 80px;
}

ul{
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0;
    gap: 25px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}

.main-text{
    font-size:48px;
    font-weight:bolder;
}

.subtext{
    font-size: 18px;
    color:#E5E7EB;
    margin-bottom:10px;
}

button{
    background-color: #3882F6;
    color:white;
    font-weight:bold;
    border-radius: 8px;
    border-style: none;
    padding: 5px 24px;
}

.second-container{
    text-align:center;
}